// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, change you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.
// For options, see node_modules/bootstrap/scss/_variables.scss

// Examples:

// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";
 $primary: #353E43;
 $navbar-dark-color: white;


// Import Bootstrap styles:
@import "../../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&display=swap');


// Import partials:

// Custom styles:

.navbar { 

    a:hover{
        text-decoration: underline;
    }
} 

//.container, h2{
   // margin-top: 15px;
//}

h1 {
    font-family: "IM Fell Great Primer SC", serif;
}

h7 {
    font-weight: bold;
}

header {
    background-color: #ffffff;
    background-image: url(../img/pirate-photos/pirate-ship.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}

footer {
    background-color: teal;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 3px;
    margin-top: 25px;
}

.byline{
    font-style: italic;
    font-weight: lighter;
}